body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:100px 0px 0px 0px;
  width:100%;
  background-image: url('./pink22.jpg');
  height:200px;
}
footer > div{
  display:flex;
  align-items: center;
}
footer > div > div:first-child{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0px 20px 0px 0px;
  width:200px;
  height:75px;
  /* background:#000; */
  color:#fff;
  font-weight:bold;
}
footer > div > div:last-child{
  display:flex;
  flex-direction: column;
  align-items: center;
}
footer > div > div:last-child span{
  font-weight:bold;
  font-size:0.8em;
}
.app{
  display:flex;
  flex-direction: column;
  width:100%;
}
.navi{
  position:absolute;
  display:flex;
  width:100%;
  justify-content: center;
  height:75px;
  background: rgba(0,0,0,0.6);
}
.navi_left{
  display:flex;
  width:150px;
  /* background:#f2736f; */
  justify-content: center;
  align-items: center;
}
.navi_left img{
  width:110px;
}
.navi_right{
  display:flex;
  width:900px;
  justify-content: flex-end;
  align-items: center;
}
.navi_right > a{
  display:flex;
  flex-direction: column;
  width:100px;
  margin:0px 15px;
  color:#fff;
  cursor: pointer;
  text-decoration: none;
}
.navi_right > a span:first-child{
  display:flex;
  font-weight:bold;
  font-size:1.2em;
  justify-content: center;
}
.navi_right > a span:last-child{
  display:flex;
  justify-content: center;
  font-size:0.7em;
}
/* --------------------- body ------------------------------ */
.app_body{
  display:flex;
  flex-direction: column;
  width:100%;
}
.front_level1{
  display:flex;
  justify-content: center;
  width:100%;
}
.front_level1 a{
  width:100%;
}
.front_level1 img{
  width:100%;
}
/* --------------------- body_level2 ------------------------------ */
.front_level2{
  display:flex;
  width:100%;
  justify-content: center;
  margin:-10px 0px 0px 0px;
}
.front_level2_mobile{
  display:none;
}
.front_level2_left{
  display:flex;
  justify-content: center;
  align-items: center;
  width:200px;
  height:110px;
  padding:20px;
  /* background-image: url('./yellow.jpg'); */
  background-image:url('./66.png');
  background-position: -950px 0px;
  /* background:#f7e600; */
  border-radius:20px 0px 0px 20px;
  box-shadow:2px 2px 5px 0 rgba(32,33,36,0.5);
  border-top:solid 1px #fff;
  border-bottom:solid 1px #fff;
  border-left:solid 1px #fff;
  user-select: none;
  /* border-right:solid 1px #7f7f7f; */
}
.front_level2_left > div{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:#3A1D1D;
}
.front_level2_left > div span:nth-child(2){
  font-weight:bold;
  font-size:1.4em;
}
.front_level2_left > div span:nth-child(3){
  font-size:0.7em;
}
.front_level2_rr{
  display:flex;
  box-shadow:2px 2px 5px 0 rgba(32,33,36,0.5);
  border-radius:0px 20px 20px 0px;
  /* background:#ff8da1; */
  background-image: url('./5.jpg');
  background-position: -150px 160px;
  /* background-size: contain; */
  /* background */
  border-top:solid 1px #fff;
  border-bottom:solid 1px #fff;
  border-right:solid 1px #fff;
}
.front_level2_mid{
  display:flex;
  width:480px;
  height:130px;
  padding:10px 10px;
  user-select: none;
  /* border-right:solid 2px #eaeaea; */
  /* background:#fff; */
}
.front_level2_mid_login{
  display:flex;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.front_level2_mid_login > span:first-child{
  font-weight:bold;
  font-size:0.9em;
  color:#fff;
}
.front_level2_mid_login > span:last-child{
  font-weight:bold;
  font-size:0.9em;
}
.front_login_leftt{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
  font-weight:bold;
  color:#002156;
}
.front_login_leftt > div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  /* backdrop-filter: blur(5px); */
}
.front_login_left{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:240px;
  margin:0px 0px 0px 0px;
  /* padding:0px 20px 0px 0px; */
  /* border-right:dashed 1px #7f7f7f; */
  /* backdrop-filter: blur(5px); */
}
.front_login_left_level1{
  display:flex;
  /* flex-direction: column; */
  width:200px;
  padding:5px 10px 5px 10px;
  border-radius:10px;
  border:solid 2px #002156;
  /* position:relative; */
  background:#eaeaea;
}
.front_login_left_level1:first-child{
  margin:0px 0px 15px 0px;
}
.front_login_left_level1 > span{
  color:#002156;
  display:flex;
  margin:0px 0px 2px 0px;
  font-weight:bold;
  /* padding:0px 10px; */
  font-weight:bold;
  border-radius: 5px;
}
.front_login_left_level1 > input{
  width:100%;
  border:none;
  background:#eaeaea;
}
.front_login_right{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* width:100px; */
  padding:25px 0px 0px 0px;
  margin:0px 0px 0px 10px;
}
.front_login_right > span{
  display:flex;
  cursor: pointer;
  background:#002156;
  padding:10px 20px;
  justify-content: center;
  align-items: center;
  border-radius:10px;
  font-size:1em;
  font-weight:bold;
  color:#fff;
  user-select: none;
}
.front_login_right > div{
  display:flex;
  margin:5px 0px 0px 0px;
  font-size:0.8em;
  cursor: pointer;
  font-weight:bold;
  user-select: none;
}
.front_level2_right{
  display:flex;
  align-items: center;
  width:460px;
  height:110px;
  padding:20px;
  border-radius:0px 20px 20px 0px;
  user-select: none;
  /* background:#002156; */
}
.front_product_left{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:110px;
  color:#fff;
}
.front_product_left > span:last-child{
  font-weight:bold;
  font-size:1.3em;
}
.front_product_right{
  width:330px;
}
.front_product_right_leve1l{
  display:flex;
  justify-content: space-between;
  margin:5px 0px;
  padding:3px 10px;
  /* backdrop-filter: blur(5px); */
}
.front_product_right_leve1l > span:first-child{
  color:#fff;
  font-weight:bold;
}
.front_product_right_leve1l > span:last-child{
  padding:2px 10px;
  border-radius:5px;
  font-size:0.8em;
  font-weight:bold;
  cursor: pointer;
  background:#fff;
}
/* --------------------- body_level3 ------------------------------ */
.front_level3{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  margin:10px 0px 50px 0px;
}
.front_level3 > div:first-child{
  display:flex;
  flex-direction: column;
  margin:30px 0px 30px 0px;
  padding:0px 20px 2px 20px;
  border-bottom:solid #f2736f 2px;
  user-select: none;
}
.front_level3 > div:first-child span{
  display:flex;
}
.front_level3 > div:first-child span:first-child{
  justify-content: flex-end;
  font-size:0.75em;
  color:#7f7f7f;
}
.front_level3 > div:first-child span:last-child{
  font-size:1.8em;
  font-weight:bold;
}
.front_level3_list{
  display:flex;
}
.front_noticebox{
  display:flex;
  flex-direction: column;
  width: 250px;
  margin:0px 10px;
  border:solid 1px #eaeaea;
  align-items: center;
  border-radius:5px;
  overflow: hidden;
}
.front_noticebox > div{
  display:flex;
  width:250px;
  height:250px;
  justify-content: center;
  align-items: center;
}
.front_noticebox > div img{
  width:250px;
  height:250px;
}
.front_noticebox > span:nth-child(2){
  display:flex;
  justify-content: center;
  align-items: center;
  background:#ff8da1;
  width:40px;
  height:20px;
  margin:5px 0px 5px 0px;
  font-size:0.8em;
  color:#fff;
}
.front_noticebox > span:nth-child(3){
  display:flex;
  justify-content: center;
  font-weight:bold;
  margin:0px 0px 10px 0px;
  padding:0px 10px 3px 10px;
  border-bottom:solid 1px #7f7f7f;
}
/* --------------------- body_level4 ------------------------------ */
.front_level4{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  margin: 50px 0px;
  background:#f2736f;
  height:450px;
  padding:30px 0px;
  background-image: url('./6.jpg');
  background-position: center;
}
.level4_title{
  display:flex;
  justify-content: center;
  width:100%;
  margin:0px 0px 30px 0px;
}
.level4_title span{
  font-size:1.7em;
  color:#fff;
  font-weight:bold;
}
.level4_list{
  display:flex;
}
.level4_list > div{
  display:flex;
  flex-direction: column;
  width:210px;
  height:270px;
  margin:0px 20px;
  padding:25px;
  /* background:#fff; */
  /* padding:10px; */
  /* border-radius:10px; */
  /* border:solid 1px #f2736f; */
  /* position:relative; */
}
.leve4_reviewbox1{
  background-image: url('./review2.png');
}
.leve4_reviewbox2{
  background-image: url('./review4.png');
}
.leve4_reviewbox3{
  background-image: url('./review3.png');
}
.leve4_reviewbox4{
  background-image: url('./review1.png');
}
.level4_list > div > div:nth-child(1){
  display:flex;
  font-weight:bold;
  font-size:1.1em;
  margin:15px 0px 0px 0px;
  padding:0px 15px 0px 53px;
  overflow: hidden;
}
.level4_list > div > div:nth-child(1) span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.level4_list > div > div:nth-child(2){
  display:flex;
  justify-content: flex-end;
  margin:10px 0px 5px 0px;
  padding:0px 10px 0px 0px;
}
.level4_list > div > div:nth-child(2) span{
  font-size:0.8em;
  font-weight:bold;
  color:#7f7f7f;
}
.level4_list > div > div:nth-child(3){
  display:flex;
  padding:0px 5px;
  max-height:120px;
  height:120px;
  overflow: hidden;
  font-size:0.85em;
}
.level4_list > div > div:nth-child(4){
  display:none;
}
/* .leve4_reviewbox_levl1{
  display:flex;
  width:100%;
  border-bottom:solid 1px #f2736f;
  padding:10px 0px 5px 0px;
  justify-content: center;
}
.leve4_reviewbox_levl1{
  font-size:1.2em;
  font-weight:bold;
  color:#f2736f;
}
.leve4_reviewbox_levl2{
  display:flex;
  justify-content: flex-end;
  margin:5px 10px 0px 0px;
  font-size:0.8em;
}
.leve4_reviewbox_levl2 > span:first-child{
  display:flex;
  margin:0px 5px 0px 0px;
  color:#7f7f7f;
}
.leve4_reviewbox_levl3{
  display:flex;
  margin:10px 0px 0px 0px;
  padding:0px 10px;
  max-height: 150px;
  overflow: hidden;
}
.level4_reviewbox_levl4{
  display:flex;
  position:absolute;
  bottom:20px;
  right:80px;
}
.level4_reviewbox_levl4 > span{
  padding:10px 20px;
  background:#ff8da1;
  border-radius:5px;
  color:#fff;
  font-weight:bold;
} */
/* --------------------- board ------------------------------ */
.board{
  display:flex;
  flex-direction: column;
  width:100%;
}
.board_header{
  display:flex;
  width:100%;
  justify-content: center;
  margin:-30px 0px 20px 0px;
}
.board_header > span{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px 40px;
  background:#f2736f;
  border-radius:30px;
  border:solid #fff 2px;
  color:#fff;
  font-weight:bold;
  font-size:1.3em;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  user-select: none;
}
.board_body{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.board_content{
  display:flex;
  flex-direction: column;
  width:1200px;
}
.board_content > div{
  display:flex;
}
.board_content > div:nth-child(2n){
  /* display:flex; */
  background:#f4f4f4;
}
.board_content > div > span{
  display:flex;
  font-size:0.8em;
  justify-content: center;
}
.board_content > div > span:nth-child(1){
  width:50px;
}
.board_content > div > span:nth-child(2){
  width:1250px;
}
.board_content > div > span:nth-child(3){
  width:150px;
}
.board_content > div > span:nth-child(4){
  width:100px;
}
.board_content > div > span:nth-child(5){
  width:80px;
}
.board_topbar{
  border-top:solid 1px #7f7f7f;
  border-bottom:solid 1px #7f7f7f;
  box-shadow: inset 0 -1px 0 #fff;
  font-weight:bold;
}
.board_topbar > span{
  padding:10px 10px;
}
.board_bar > span{
  padding:7px 10px;
}
.board_bar > a{
  padding:7px 10px;
  font-size:0.8em;
  text-decoration: none;
  color:#000;
}
.board_content > div > a:nth-child(2){
  width:1250px;
}
.board_bar > span:nth-child(2){
  justify-content: flex-start;
}
.board_bar:last-child{
  border-bottom:solid 1px #7f7f7f;
}
.board_page{
  display:flex;
  justify-content: space-between;
  width:100%;
  max-width:1200px;
  margin:10px 0px 0px 0px;
}
.board_page a{
  text-decoration: none;
}
.board_page > span:first-child{
  visibility: hidden;
}
.board_page > div{
  display:flex;
}
.board_page span{
  display:flex;
  margin:0px 5px;
  padding:3px 8px;
  border:solid 1px #f2736f;
  color:#f2736f;
  border-radius:5px;
  font-weight:bold;
  font-size:0.8em;
  user-select: none;
}
.board_page span.hidden{
  visibility: hidden;
}
/* --------------------- article ------------------------------ */
.article{
  display:flex;
  justify-content: center;
}
.article > div{
  display:flex;
  flex-direction: column;
  width:1200px;
}
.article_title{
  display:flex;
  padding:7px 10px;
  border-top:solid 1px #7f7f7f;
  border-bottom:solid 1px #7f7f7f;
  user-select: none;
  min-height:25px;
}
.article_title > span{
  font-weight:bold
}
.article_info{
  display:flex;
  justify-content: space-between;
  font-size:0.8em;
  padding:5px 10px;
  border-bottom:solid 1px #eaeaea;
}
.article_body{
  display:flex;
  flex-direction: column;
  padding:10px 10px;
  border-bottom:solid 1px #7f7f7f;
}
.article_bottom{
  display:flex;
  padding:10px 10px;
}
.article_bottom > a{
  display:flex;
  align-items: center;
  padding:4px 10px;
  background:#ff8da1;
  border:solid 1px #f2736f;
  border-radius:5px;
  color:#fff;
  font-size:0.8em;
  user-select: none;
  text-decoration: none;
}
.write_body{
  display:flex;
  width:900px;
  flex-direction: column;
}
.write_title{
  display:flex;
  width:calc(100% - 2px);
  margin:10px 0px 10px 0px;
  border:solid 1px #ccc;
  padding:5px 0px;
  user-select: none;
}
.write_info{
  display:flex;
  margin:0px 0px 10px 0px;
  color:red;
  font-size:0.8em;
}
.write_title > span{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  width:50px;
  user-select: none;
}
.write_title > input{
  width:calc(100% - 70px);
  border: none;
}
.write_title > input:active{
  border:none;
}
.ql-editor{
  /* min-height:400px; */
  min-height:60vh;
  word-wrap: break-word !important ;
  
}
.write_button{
  display:flex;
  justify-content: center;
  width:900px;
  margin:30px 0px 0px 0px;
}
.write_button span{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  background: #f2736f;
  border-radius: 30px;
  border: solid #fff 2px;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  user-select: none;
  cursor: pointer;
}
.register{
  display:flex;
  flex-direction: column;
  padding:10px;
  border-radius: 5px;
  border:solid 1px #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  width:400px;
  margin:20px 0px 0px 0px;
}
.register_level1{
  display:flex;
  flex-direction: column;
  border:solid 1px #ff8da1;
  padding:10px 5px 5px 5px;
  margin:10px 0px 15px 0px;
  position: relative;
  /* border-radius: 5px; */
  user-select: none;
}
.register_level1 > span:first-child{
  display:flex;
  font-size:0.9em;
  position:absolute;
  background:#fff;
  bottom:23px;
  padding:3px 8px;
  font-weight:bold;
  color:#f2736f;
}
.register_level1 > input{
  /* width:calc(100% - 100px); */
  border:none;
  /* height:20px; */
}
.register_level5{
  display:flex;
  justify-content: center;
  width:100%;
}
.register_level5 span{
  display:flex;
  width:100%;
  justify-content: center;
  justify-content: center;
  padding:5px 10px;
  background:#f2736f;
  color:#fff;
  user-select: none;
  cursor: pointer;
}
.register_checkPass{
  display:flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  align-items: center;
  margin:0px 0px 5px 0px;
  color:red;
}
/* .register_checkPass > span:first-child{
  font-size:1em;
  font-weight:bold;
} */
.register_checkPass > span:last-child{
  font-size:0.9em;
}