/* mobile */
@media (min-width: 320px) and (max-width: 480px) {

.navi{
    /* height:50px; */
    height:auto;
    flex-direction: column;
}
.navi_left{
    display:none;
    width:100%;
    justify-content: center;
}
.navi_right{
    width:100%;
}
.navi_right > a{
    flex:1;
    width:auto;
    margin:10px 5px 10px 5px;
}
.navi_right > a span:first-child{
    font-size:10px;
}
.navi_right > a span:last-child{
    display:none;
}
.front_level1{
    width:auto;
    justify-content: center;
    /* height:100px; */
    width:100%;
    overflow: hidden;
    margin:34px 0px 0px 0px;
}
.front_level1 img{
    height:35vw;
    width:auto;
}
.front_level2{
    display:none;
    margin:0;
}
.front_level3 > div:first-child{
    margin:20px 0px 30px 0px;
}
.front_level3_list{
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}
.front_noticebox{
    width:45%;
    margin:0px 5px 15px 5px;
}
.front_noticebox > div{
    width:100%;
    height:auto;
}
.front_noticebox > div img{
    width:100%;
    height:auto;
}
.front_noticebox > span:nth-child(3){
    font-size:0.75em;
}
.front_level4{
    height:auto;
    background-position: -90px 0px;
}
.level4_list{
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap:wrap;
}
.level4_list > div{
    margin:0px 0px 30px 0px;
}
.footer > div > div:last-child{
    align-items: flex-start;
}
.front_level2_mobile{
    display:flex;
    justify-content:center;
}
.front_level2_mobile > div{
    border-radius: 5px;
    overflow: hidden;
    display:flex;
    width:calc(100% - 10px);
    flex-direction: column;
    /* width:100%; */
    justify-content:center;
}
.mobile_front_level1{
    display:flex;
    /* background-image:url('./mobile2.jpg');
    background-position: -90px 0px;; */
    background-image:url('./mobile1.png');
    background-position: -20px 0px;;
}

.mobile_front_level1 > div:first-child{
    display:flex;
    flex-direction:column;
    color:#3A1D1D;
    padding:5px;
    align-items:center;
    justify-content: center;
    font-weight:bold;
    /* background:#F7E600; */
}
.mobile_front_level1 > div:first-child > span:nth-child(2){
    font-size:0.8em;
}
.mobile_front_level1 > div:first-child > span:nth-child(3){
    font-size:0.7em;
}
.mobile_product_right_leve1l{
    display:flex;
    justify-content:space-between;
    margin:2px 0px 2px 40px;
    font-weight: bold;
}
.mobile_product_right_leve1l > span:nth-child(1){
    color:#fff;
    font-size:0.8em;
}
.mobile_product_right_leve1l > span:nth-child(2){
    border-top:dashed 1px #eaeeae;
    /* height:1px; */
    flex:1;
    margin:10px 10px 0px 10px;
    /* padding:5px 0px 0px 0px; */
    /* background:#fff; */
}
.mobile_product_right_leve1l > span:nth-child(3){
    display:flex;
    font-size:0.7em;
    justify-content: center;
    align-items: center;
    background:#fff;
    padding:2px 5px;
    border-radius:5px;

}
.mobile_front_level1 > div:last-child{
    display:flex;
    padding:5px;
    flex-direction:column;
    justify-content:center;
    width:calc(100% - 75px)
}
.mobile_front_level2{
    display:none;
}
.board{
    margin:0px 0px 40vh 0px;
}
.board_header{
    margin:-20px 0px 10px 0px;
}
.board_header > span{
    padding:5px 20px;
    font-size:1em;
}
.board_content{
    width:calc(100% - 10px);
}
.board_topbar > span{
    padding:3px;
}
.board_bar > span{
    padding:3px;
}
.board_content > div > span:nth-child(1){
    /* width:50px; */
}
.board_content > div > span:nth-child(2){
    width:200px;
}
.board_content > div > span:nth-child(3){
    width:80px;
}
.board_content > div > span:nth-child(4){

}
.board_content > div > span:nth-child(5){

}
.board_content > div > span{
    font-size:0.7em;
}
/* mobile end */
}