/* mobile */
@media (min-width: 320px) and (max-width: 480px) {

.navi{
    /* height:50px; */
    height:auto;
    flex-direction: column;
}
.navi_left{
    display:none;
    width:100%;
    justify-content: center;
}
.navi_right{
    width:100%;
}
.navi_right > a{
    flex:1;
    width:auto;
    margin:10px 5px 10px 5px;
}
.navi_right > a span:first-child{
    font-size:10px;
}
.navi_right > a span:last-child{
    display:none;
}
.navi_right > div{
    flex:1;
    width:auto;
    margin:10px 5px 10px 5px;
}
.navi_right > div span:first-child{
    font-size:10px;
}
.navi_right > div span:last-child{
    display:none;
}
.front_level1{
    width:auto;
    justify-content: center;
    /* height:100px; */
    width:100%;
    overflow: hidden;
    margin:34px 0px 0px 0px;
}
.front_level1 img{
    height:35vw;
    width:100vw;
}
.front_level2{
    display:none;
    margin:0;
}
.front_level3 > div:first-child{
    margin:20px 0px 30px 0px;
}
.front_level3_list{
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}
.front_noticebox{
    width:45%;
    margin:0px 5px 15px 5px;
}
.front_noticebox > div{
    width:100%;
    height:auto;
}
.front_noticebox > div img{
    width:100%;
    height:auto;
}
.front_noticebox > span:nth-child(3){
    font-size:0.7rem;
}
.front_level4{
    height:auto;
    background-position: -1320px -1430px;
    margin:30px 0px;
    padding:20px 5px;
    width:calc(100% - 10px);
}
.level4_list{
    width:calc(100% - 40px);
    padding:0px 20px;
    justify-content: space-between;
    height: auto;
}
.level4_list > div{
    margin:0px 0px 30px 0px;
}
.level4_title > div:nth-child(1) > span{
    font-size: 2rem;;
}
.level4_list > div > img{
    width:30vw;
    height:30vw;
}
.level4_right > div{
    font-size:1rem;
}
.front_level5{
    flex-direction: column;
}
.front_level5 > div{
    margin:0px;
    width:100%;
}
.level5_image img{
    width:100vw;
    height: 100vw;
}
.footer > div > div:last-child{
    align-items: flex-start;
}
.front_level2_mobile{
    display:flex;
    justify-content:center;
}
.front_level2_mobile > div{
    border-radius: 5px;
    overflow: hidden;
    display:flex;
    width:calc(100% - 10px);
    flex-direction: column;
    /* width:100%; */
    justify-content:center;
}
.mobile_front_level1{
    display:flex;
    /* background-image:url('./mobile2.jpg');
    background-position: -90px 0px;; */
    background-image:url('./mobile1.png');
    background-position: -20px 0px;;
}

.mobile_front_level1 > div:first-child{
    display:flex;
    flex-direction:column;
    color:#3A1D1D;
    padding:5px;
    align-items:center;
    justify-content: center;
    font-weight:bold;
    /* background:#F7E600; */
}
.mobile_front_level1 > div:first-child > span:nth-child(2){
    font-size:0.8em;
}
.mobile_front_level1 > div:first-child > span:nth-child(3){
    font-size:0.7em;
}
.mobile_product_right_leve1l{
    display:flex;
    justify-content:space-between;
    margin:2px 0px 2px 40px;
    font-weight: bold;
}
.mobile_product_right_leve1l > span:nth-child(1){
    color:#fff;
    font-size:0.7rem;
}
.mobile_product_right_leve1l > span:nth-child(2){
    border-top:dashed 1px #eaeeae;
    /* height:1px; */
    flex:1;
    margin:8px 10px 0px 10px;
    /* padding:5px 0px 0px 0px; */
    /* background:#fff; */
}
.mobile_product_right_leve1l > span:nth-child(3){
    display:flex;
    font-size:0.7em;
    justify-content: center;
    align-items: center;
    background:#fff;
    padding:2px 5px;
    border-radius:5px;

}
.mobile_front_level1 > div:last-child{
    display:flex;
    padding:5px;
    flex-direction:column;
    justify-content:center;
    width:calc(100% - 75px)
}
.mobile_front_level2{
    display:none;
}
.board{
    margin:0px 0px 40vh 0px;
}
.board_header{
    margin:-20px 0px 10px 0px;
}
.board_header > span{
    padding:5px 20px;
    font-size:1em;
}
.board_content{
    width:calc(100% - 10px);
}
.board_topbar > span{
    padding:3px;
}
.board_bar > span{
    padding:3px;
}
.board_content > div > span:nth-child(1){
    /* width:50px; */
}
.board_content > div > span:nth-child(2){
    width:200px;
}
.board_content > div > span:nth-child(3){
    width:80px;
}
.board_content > div > span:nth-child(4){

}
.board_content > div > span:nth-child(5){

}
.board_content > div > a:nth-child(2){
    width:200px;
}
.board_content > div > span{
    font-size:0.7em;
}
.weeklybest > div:first-child{
    font-size:1rem;
}
.weeklybest > div:first-child > div > span:nth-child(1){
    font-size:1.5rem;
}
.weeklybest_1{
    width:100%;
}
.showcase2{
    width:20vw;
    padding:0px;
    margin:10vw 0px 0px 0px;
}
.showcase2_level1{
    width:17vw;
    height:17vw;
}
.showcase2_level1 img{
    width:15vw;
    height:15vw;
}
.showcase2bottom{
    font-size:0.6rem;
}
.showcase2bottom > span{
    width:15vw;
}
.showcase_wrapper{
    width:100%;
}
.weeklybest_1{
    height: auto;
}
.weeklybest_1 > img{
    width:100%;
}
.showcase_tab{
    display:none;
}
.showcase_body{
    padding:10px;
    width:calc(100% - 20px);
    border:none;
    border-radius: 0px;
    border-top:solid 1px #adadad;
    border-bottom:solid 1px #adadad;
    box-shadow: none;
    min-height: auto;
    justify-content: space-around;
    background-color: #fbfbfb;
    margin:0px;
}
.showcase{
    padding:5px;
    margin:0px 0px 20px 0px;
    background:#fff;
}
.showcase_level1{
    width:33vw;
    height:33vw;
}
.showcase_level1 img{
    width:30vw;
    height:30vw;
}
.showcase_level1{
    width:20vw;
    height:20vw;
}
.showcase_level1 img{
    width:18vw;
    height:18vw;
}
.front_level4_right{
    padding:10px;
}
.front_level4_right > div span:nth-child(1){
    font-size:1.2rem;
}
.level4_title > div:nth-child(1){
    width:100%;
}
.level4_title > div:nth-child(2){
    font-size:0.8rem;
}
/* mobile end */
}